@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.nav_container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}

.nav_logo {
  padding: 10px 12px;
  font-size: 18px;
  color: #162ae3;
}

/* .nav-container {
  display: flex;
  margin-top: 10px;
  margin-left: 40px;
  justify-content: space-between;
  width: 100%;
  font-family: 'Poppins', sans-serif;
} */

.nav-menu {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  justify-content: space-between;
  width: 15%;
  margin-top: 10px;
  margin-right: 120px;
}

/* .nav-head {
  font-size: 18px;
  color: blue;
  display: flex;
  align-items: center;
} */

a {
  text-decoration: none;
  font-size: 15px;
  color: #344563;
  margin: 10px 10px;
}

.main_container {
  position: static;
  margin-top: 15%;
  margin-left: 200px;
  color: #091E42;
  font-family: 'Poppins', sans-serif;
}

.mainbody {  
  width: 920px;
  height: 100px;
  left: 0px;
  top: 0px;
}

.footer_container {
  position: static;
  margin-top: 80px;
  margin-left: 200px;
  margin-bottom: 0px;
}

.footer_icons {
  position: static;
  left: 26.32%;
  right: 72.43%;
  top: 12.53%;
  bottom: 87.08%;
  display: flex;
  margin-left: -10px;
}

.footer_head {
  font-size: 10px;
  color: #7F8CFF;
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 768px) {
  
}