@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.main-container {
  padding: 0 3%;
}

.nav_container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.nav_logo {
  padding: 10px 12px;
  font-size: 18px;
  color: #162ae3;
  display: flex;
}

.nav_head {
  text-decoration: none;
  color: #162ae3;
}

.nav_link {
  padding: 10px 12px;
  margin: 0 0.5rem 0 0;
  color: #344563;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
}

.toolbar {
  display: flex;
}

.footer_head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #7f8cff;
  text-transform: uppercase;
  margin-top: -10px;
}

.social-icon {
  margin-top: -5px;
}

.social-icon ul {
  display: flex;
  margin: 0 1rem 0 0;
  padding: 0;
  gap: 20px;
}

.social-icon ul li {
  list-style: none;
}

.section {
  padding: 0 3%;
  background-image: url(Header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main_container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.container_small {
  padding: 10rem 0;
  max-width: 57rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

p.text {
  font-size: 1rem;
  font-weight: 500;
  margin-top: -10px;
}

h1.heading {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 50px;
}

.headline_section {
  padding: -5rem 0;
}

.mobile_menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .container_small {
    padding: 18px;
  }

  .section {
    background-image: url(Header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .toolbar {
    display: none;
  }

  .mobile_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }

  h1.heading {
    font-size: 2.5rem;
    display: flex;
  }
}
