@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
}

section.work-portfolio {
  background-color: rgb(240, 240, 240);
}

section.section {
  background-color: #fff;
}

.material {
  background-color: #fff;
}

.nav_container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.nav_logo {
  padding: 10px 12px;
  font-size: 18px;
  color: #162ae3;
  display: flex;
}

.nav_head {
  text-decoration: none;
  color: #7f8cff;
  font-weight: 500;
}

.nav_head:hover {
  box-shadow: 3px 13px 25px rgb(30, 15, 252, 0.5);
  background: #4456f6;
  color: #fff;
  border-radius: 30px;
  padding: 2px 10px;
}

/* .nav-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-menu li a{
  padding: 10px 12px;
  margin: 0 0.5rem 0 0;
  color: #344563;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
} */

li {
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav_link {
  transition: 0.7s ease;
}

.nav_link:hover {
  color: rgb(0, 0, 0);
  font-size: 24px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #a7aeff;
}

.toolbar {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 0 24px;
}

.footer_head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #7f8cff;
  text-transform: uppercase;
  margin-top: -10px;
}

.social-icon {
  margin-top: -5px;
}

.social-icons ul {
  display: flex;
  margin: 0 1rem 0 0;
  padding: 0;
  gap: 20px;
}

.social-icons ul li {
  list-style: none;
}

.section {
  padding: 0 3%;
  background-image: url(asset/Header-bg1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 100px;
  height: 100%;
}

.main_container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0 3%;
}

.container_small {
  padding: 10rem 0;
  max-width: 57rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

p.text {
  font-size: 1rem;
  font-weight: 500;
  margin-top: -10px;
}

h1.heading {
  font-size: 2.5rem;
  font-weight: 700;
}

.headline_section {
  padding: -5rem 0;
  margin-top: -2.7rem;
}

.mobile_menu {
  display: none;
}

.work-info {
  min-width: 240px;
  height: auto;
}

.work-img {
  border-radius: 8px;
  margin: 1px 5px;
  padding: 4px 5px;
}

.work-img img {
  min-width: 400px;
  height: auto;
}

.work-title {
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  margin: 1px 12px;
  padding: 4px 12px;
  position: static;
}

.work-meta {
  display: flex;
  flex-direction: row;
  margin: 12px 12px;
}

.work-meta img {
  color: #c1c7d0;
}

.work-meta p {
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin: 0 12px;
}

.work-para {
  text-transform: uppercase;
  font-weight: 700;
}

.work-note {
  font-weight: 500;
  font-size: 15px;
  color: #344563;
  margin: 0 12px;
  padding: 4px 12px;
}

.work-tag ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  padding: 3px 15px;
  margin-top: -2px;
  margin-bottom: 30px;
}

.work-tag ul li {
  margin: 1px 8px;
  flex-grow: 0;
  background: #ebebff;
  border-radius: 8px;
  position: static;
  color: #6070ff;
  text-align: center;
}

.tag {
  position: static;
  width: 60px;
}

.tag1 {
  position: static;
  width: 60px;
}

.tag2 {
  position: static;
  width: 100px;
}

.see-project {
  align-items: center;
  position: static;
  text-align: center;
  color: #396df2;
  background: #fcfcfe;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  width: 110px;
  height: 40px;
  border-radius: 5px;
  margin: 0 25px;
  border: 1px solid #396df2;
}

.see-project:hover {
  background-color: rgb(172, 153, 153);
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.work-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 15px;
  justify-content: center;
  margin: 20px;
}

.work-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  gap: 30px;
}

.about-section {
  background-color: #fff;
  border-top-right-radius: 100px;
  margin-top: 40px;
}

.about-title {
  font-weight: 700;
  font-size: 2.5rem;
  color: #172b4d;
}

.about-note {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
  margin: 12px 1px;
}

.about-box {
  margin-left: -20px;
  padding: 40px;
}

.about-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #7f8cff;
  text-transform: uppercase;
  margin-top: -10px;
}

.about-icon {
  margin-top: -5px;
}

.about-icon ul {
  display: flex;
  margin: 0 1rem 0 0;
  padding: 0;
  gap: 20px;
}

.about-icon ul li {
  list-style: none;
}

.about-button {
  align-items: center;
  position: static;
  text-align: center;
  color: #396df2;
  background: #fcfcfe;
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  margin: 12px 1px;
  border: 1px solid #396df2;
}

.lang-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  margin-left: -20px;
  margin-top: -50px;
}

.lang-open {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lang-open h4 {
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  color: #000;
}

.about-lang {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: 12px 0;
  border: 1px solid #f7f7f9;
}

.lang1 {
  display: flex;
  flex-direction: row;
  background-color: #f7f7f9;
  margin: 8px -25px 8px -30px;
  border: 1px solid #f7f7f9;
  width: 100%;
  padding-left: 30px;
  border-radius: 8px;
}

.lang2 {
  display: flex;
  flex-direction: row;
  background-color: #f7f7f9;
  margin: 8px -25px 8px -30px;
  border: 1px solid #f7f7f9;
  width: 100%;
  padding-left: 30px;
  border-radius: 8px;
}

.lang3 {
  display: flex;
  flex-direction: row;
  background-color: #f7f7f9;
  margin: 8px -25px 8px -30px;
  border: 1px solid #f7f7f9;
  width: 100%;
  padding-left: 30px;
  border-radius: 8px;
}

.skill-name {
  display: flex;
  color: #253858;
  align-items: center;
  margin-left: 15px;
}

.skill-item {
  margin-left: -15px;
}

.skill-trigger {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #dfe1e6;
}

.skill-trigger h4 {
  font-weight: 500;
  font-size: 1.25rem;
  color: #000;
}

.union-close {
  transform: rotateZ(-90deg);
}

.contact-container {
  background-image: url(asset/Header-bg1.svg);
  background-color: #5566f8;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 5rem;
}

.contact-box {
  padding: 40px;
  margin-left: -10px;
  align-items: center;
}

.contact-box h2 {
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
}

.contact-box p {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 32px;
  margin: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-left: 20px;
}

.contact-form input {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding-left: 15px;
}

#text {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 45px;
  width: 327px;
  margin-top: -10px;
}

#email {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 45px;
  width: 327px;
}

#message {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 170px;
  width: 327px;
  margin-left: 20px;
  font-weight: 500;
  font-size: 17px;
  padding: 15px 1px 1px 15px;
}

.btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  width: 140px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #fff;
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 12px 16px;
  align-items: center;
  background:
    linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.btn:hover {
  background-color: #fff;
  background-size: 0 3px, 100% 3px;
  color: #396df2;
}

.contact-shape img {
  background-color: #000;
  border-radius: 10px;
  height: 5px;
  width: 134px;
  margin-top: 40px;
  margin-left: calc(50% - 134px / 2 - 0.5px);
  margin-bottom: 8px;
}

.hand {
  display: none;
}

/* The mobile hamburger menu */

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
    background-color: #fff;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #fff;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #fff;

  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 60px;
    gap: 0;
    flex-direction: column;
    background-color: rgba(96, 112, 255, 0.8);
    backdrop-filter: blur(8px);
    width: 100%;
    align-items: flex-start;
    transform: 0.3s;
    min-height: 100%;
    margin-top: -63px;
    color: #fff;

  /* left: -100%;
  top: 70px;
  flex-direction: column;
  background-color: rgba(96, 112, 255, 0.8);
  backdrop-filter: blur(8px);
  width: 100%;
  text-align: center;
  transition: 0.3s;
  min-height: 758px;
  margin-top: -63px;
  color: #fff; */
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-menu{
    flex-direction: column;
    position: fixed;
    left: 100%;
    /* width: 100%; */
    text-align: center;
    transition: .3s;
  }
}

@media screen and (min-width: 768px) {
  .material {
    background-color: #fff;
  }

  .section {
    padding: 0 3%;
    background-image: url(asset/header-shapes-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 100px;
    background-color: #fff;
  }

  .container {
    max-width: 72.25rem;
    margin: 0 auto;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  
  .nav-menu li a{
    padding: 10px 12px;
    margin: 0 0.5rem 0 0;
    color: #344563;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
  }

  .hamburger {
    display: none;
  }

  .work-box {
    max-width: 72.25rem;
    height: 26.25rem;
    border-radius: 1.5rem;
    flex-wrap: nowrap;
  }

  .work-box:hover {
    cursor: pointer;
    border: 2px solid #a7aeff;
    box-shadow: 1px 10px 16px rgb(64, 83, 252, 0.24);
  }

  .work-box:nth-child(even) {
    flex-direction: row-reverse;
  }

  .work-img img {
    height: 100%;
  }

  .see-project:active {
    cursor: pointer;
    border: 2px solid #a7aeff;
    box-shadow: 1px 10px 16px rgb(64, 83, 252, 0.24);
    background: #162ae3;
    color: #fff;
  }

  .work-info {
    height: 100;
    width: auto;
    margin: 15px;
  }

  .work-meta p {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .about-portfolio {
    display: flex;
    flex-direction: row;
  }

  .about-section {
    background-color: #fff;
    border-top-right-radius: 100px;
    margin-top: 40px;
  }

  .about-box {
    width: 50%;
    margin-left: 15px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .lang-container {
    width: 50%;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    margin-right: 4rem;
  }

  .hand {
    display: block;
    position: absolute;
    margin-left: 25%;
    margin-top: -30px;
    width: 50px;
    height: 50px;
  }

  #btn:active {
    background-color: #162ae3;
  }

  #btn:hover {
    box-shadow: 20px 30px 40px rgb(64, 83, 252, 0.24);
    background-color: #4053fc;
    border-radius: 8px;
  }

  .about-lang {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1px;
  }

  .learn {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 7.5rem;
    margin: 1px 8px;
  }

  .skill-item {
    margin: 1px;
    margin-top: 10px;
    margin-left: -22px;
  }

  .skill-name {
    margin-left: -18px;
    margin-top: 12px;
  }

  .contact-container {
    align-items: center;
    width: auto;
    height: auto;
    border-top-left-radius: 100px;
  }

  .contact-box {
    box-sizing: border-box;
    width: auto;
    height: auto;
    align-items: center;
  }

  .contact-box h2 {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    font-family: 'Poppin', sans-serif;
    font-weight: 700;
  }

  .contact-box p {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    align-items: center;
    margin-top: -25px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

  .contact-form {
    align-items: center;
    margin-top: -20px;
  }

  #text {
    border: 1px solid #cfd8dc;
    border-radius: 1px;
    font-size: 17px;
    font-weight: 400;
    color: #172b4d;
    font-family: 'Poppins', sans-serif;
  }

  #email {
    border: 1px solid #cfd8dc;
    border-radius: 1px;
    font-size: 17px;
    font-weight: 400;
    color: #172b4d;
    font-family: 'Poppins', sans-serif;
  }

  #message {
    border: 1px solid #cfd8dc;
    border-radius: 1px;
    font-size: 15px;
    font-weight: 400;
    color: #b3bac5;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
  }

  .btn {
    margin-left: 30%;
    margin-bottom: 50px;
  }

  .contact-shape img {
    display: none;
  }
}
